div {
    white-space-collapse: inline-block;
    width: 100%;
    scroll-padding-top: 150px;
    scroll-margin-top: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

li a:hover {
  background-color: #182b49;
  color: white;
}

#menu {
    padding: 15px;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
}
    
#logo {
    padding: 15px;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    max-width: 75%;
    margin: auto;  
    padding-right: 110px;
}

#section1 {
    width: 100%;
    background-color: rgba(245, 240, 230);
    font-size: 28px;
    padding: 15px;
}

#section2 {
    width: 100%;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    font-size: 28px;
    color: white;
    padding: 15px;
}

#section3 {
    width: 100%;
    padding: 15px;
    font-size: 28px;
    background-color: rgb(245, 240, 230);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
}
.column {
    color: white;
    background-color: #182b49;
    text-align: center;
    overflow: scroll;
    max-height: 500px;
}

#logo {display: none}

@media only screen and (max-width: 800px) {
    #menu {display: none}
    #logo {
        display: grid; 
    }
    img {max-width: 100%}
    h2 {font-size: 24px}
    p {font-size: 20px}
    
    .grid {grid-template-columns: repeat(2, 2fr);}
}